// Main colors
// $primary-background: #0f0312;
$primary-background: #181818;
$primary-background-50: rgba(24, 24, 24, 0.5);
$secondary-background: #340c44;
$secondary-background-50: rgba(52, 12, 68, 0.5);
$primary: #754bc4;
$primary-50: rgba(117, 75, 196, 0.5);
$secondary: #2d232e;
// $secondary: #41296d;
$transparent: rgba(0, 0, 0, 0);

// Text colors
$text-primary: #f1f0ea;
$text-secondary: #c6c5c0;

// Navbar
$navbar-color: #0f0312;
// Buttons
$button-color: #0f0312;
$button-color-hover: #754bc4;
